<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Remove .html extension
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.html -f
    RewriteRule ^(.*)$ $1.html [NC,L]
    
    # Redirect missing pages to index
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.html [L]
</IfModule>


<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>